################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RpmReaderNet/RpmReaderNet/bin/Debug
/RpmReaderNet/RpmReaderNet/obj/Debug
/RpmReaderNet/RpmReaderTest/bin/Debug
/RpmReaderNet/RpmReaderTest/obj/Debug
*.suo
/RpmReaderNet/packages/SharpZipLib.0.86.0
