################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RpmReaderNet/RpmReaderNet/bin/Debug
/RpmReaderNet/RpmReaderNet/obj/Debug
/RpmReaderNet/RpmReaderTest/bin/Debug
/RpmReaderNet/RpmReaderTest/obj/Debug
*.suo
/RpmReaderNet/packages/SharpZipLib.0.86.0
*.nupkg
/RpmReaderNet/Rpm/bin/Debug
/RpmReaderNet/Rpm/obj/Debug
/RpmReaderNet/Rpm/bin/Release
/RpmReaderNet/RpmReaderNet/obj/Release
/RpmReaderNet/RpmReaderTest/obj/Release
/RpmReaderNet/Rpm/obj/Release
/RpmReaderNet/RpmReaderNet/bin/Release
/RpmReaderNet/TestResults/
/RpmReaderNet/RpmReaderUnitTest/bin/
/RpmReaderNet/RpmReaderUnitTest/obj/
/RpmReaderNet/RpmNet/bin/
/RpmReaderNet/RpmNet/obj/

